@font-face {
    font-family: Kanit-Light;
    src: url(/assets/font/Kanit-Light.ttf);
}

@font-face {
    font-family: Monoserata-Medium;
    src: url(/assets/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Mooli;
    src: url(/assets/font/Mooli-Regular.ttf);
}

@font-face {
    font-family: PDARK;
    src: url(/assets/font/PDARK.TTF);
}

@font-face {
    font-family: soloist;
    src: url(/assets/font/soloist1.ttf);
}

@font-face {
    font-family: MPLUS ;
    src: url(/assets/font/MPLUSRounded1c-Bold.ttf);
  }

@font-face {
    font-family: Varela ;
    src: url(/assets/font/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: mplusRegular;
    src: url(/assets/font/MPLUSRounded1c-Regular.ttf);
}

@font-face {
    font-family: PANTON;
    src: url(/assets/font/PantonDemoBlack.otf);
}

@font-face {
    font-family: EduAUVICWANTPre;
    src: url(/assets/font/EduAUVICWANTPre-VariableFont_wght.ttf);
}

/* @font-face {
    font-family: ;
    src: url(/assets/font/.ttf);
} */