@font-face {
    font-family: MPLUS ;
    src: url(/assets/font/MPLUSRounded1c-Bold.ttf);
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
& /*loader*/ {
    & .load {
      user-select: none;
      width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    & .load img {
      filter: invert(1) opacity(0.3);
      width: 200px;
      position: absolute;
    }
    .loader {
      width: 65px;
      height: 30px;
      position: relative;
    }
    .loader:before {
      content: "";
      position: absolute;
      border-radius: 50px;
      box-shadow: 0 0 0 3px inset #fff;
      animation: loaderAnimation 0.75s infinite alternate;
      z-index: 1;
    }
    & .load p {
      font-family: MPLUS;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: whitesmoke;
      z-index: 1;
      font-display: swap;
    }
  }
  
  @keyframes loaderAnimation {
    0% {
      inset: 0 35px 0 0;
    }
    50% {
      inset: 0 0 0 0;
    }
    100% {
      inset: 0 0 0 35px;
    }
  }